$darkCyan: hsl(185, 75%, 39%);
$veryDarkBlue: hsl(229, 23%, 23%);
$grayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$white: #FFFFFF;

$font-size-bg: 1.125rem; //18px
$font-size-md: 1rem; //14px
$font-size-sm: 0.75rem; //12px