.title {
  text-align: center;
}

.faq {
  position: relative;
  top: 100px;
  background-color: white;
  max-width: 85%;
  margin: auto;
  border-radius: 20px;
  font-size: $mainSize;
  padding: 2em;
  min-height: 70vh;
  padding: 8rem 1rem 3rem;
  margin-top: 40px;
  &::before {
    content: url(../../images/illustration-woman-online-mobile.svg);
    background: url(../../images/bg-pattern-mobile.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    position: absolute;
    top: -106px;
    left: 20px;
  }
  .question {
    border-bottom: 1px solid $lightGrayishBlue;
  }

  .answer {
    text-align: justify;
    line-height: 1.5em;
  }
}
