$mobile: 375px;
$desktop: 1440px;

// Colors Primary
//Text

$darkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// Gradient - Background gradient:
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

// Neutral Text

$darkGrayishBlue: hsl(237, 12%, 33%);
$grayishBlue: hsl(240, 6%, 50%);

// Dividers

$lightGrayishBlue: hsl(240, 5%, 91%);

//Typography - Body Copy

$mainSize: 12px;

// Font
$mainFont: 'Kumbh Sans', sans-serif;
